





  
  
  
  .event-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  
  
  
  



.dashboard {
  display: flex;
}



.dashboard-header {
  margin-bottom: 10px;
}

.dashboard-title {
  font-size: 24px;
  margin: 0;
  color: #007272;
}

.dashboard-subtitle {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.dashboard-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}



.dashboard-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.add-event-button {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #007272;
  border: 1px solid;
  margin: 10px;
  margin-left: 800px;
  width: 120px;
  height: 36px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040, 2px 4px 0px 0px #000000bd;
  cursor: pointer;
}

.icon{
  margin-left: 15px;
}

.select-event-button {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #007272;
  border: 1px solid;
  margin: 10px;
  width: 120px;
  height: 36px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040, 2px 4px 0px 0px #000000bd;
  cursor: pointer;
  position: relative;
}

.select-event-button:hover {
  color: white;
}

.dropdown-container {
  position: relative;

  z-index: 100; /* Ensure dropdown appears above other content */
}

.dropdown-content {
    display: block;
    position: absolute;
    background: #ffffff;
    min-width: 160px;
    border: #007272 solid 1px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    z-index: 101; /* Ensure dropdown appears above other content */
    Max-height: 150px;
    overflow: auto;
}
    .dropdown-content ul{
        margin:0px;
        padding:0px;
        text-decoration: none;
        list-style:none;
        
    }
.dropdown-content ul li {
  padding:5px 10px;
  text-decoration: none; 
  cursor: pointer;
  font-size:13px;
}

.dashboard-table {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.table-header {
  display: flex;
  background-color: #f0f0f0;
  box-shadow: 0.5px 1px 3px 0.1px grey;
  padding: 10px;
  
}

.table-row {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
 border-top: 0px;
 border-bottom: 1px solid rgb(155, 154, 154);
 border-left: 1px solid rgb(155, 154, 154);
 border-right: 1px solid rgb(155, 154, 154);
 border-radius: 5px;
  
  
}

.table-cell {
  font-size: 18px;
  font-weight: 600;
  flex: 1;
  text-align: center;
  margin: 0 18px;
}

.table-value {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  margin: 0 85px;
}

.table-value p {
  font-size: 24px;
}

.value-main {
  display: flex;
  align-items: center;
  gap: 2px;
}

.value-sub {
  font-size:12px;
  color: #000000;
  
  font-weight: normal;
}

.value-main p {
  margin: 0 10px 0 0;
}

.value-sub p {
  margin: 0;
}



.chartsRow {
  display: flex;
  justify-content: left; /* Center the charts in the row */
  gap: 30px; /* Space between the charts */
}

/* Responsive Styles */
@media (min-width: 500px) {
  .my-events-navbar {
    padding: 50px;
    height: 90px;
  }

  
  .add-event-button {
    width: 20%;
    margin: 10px 0;
  }

  .select-event-button{
    width: 100%;
  }
 


  .dashboard {
    flex-direction: row;
  }

  .main-content {
    padding: 10px;
  }

  .dashboard-actions {
    flex-wrap: nowrap;
  }

  .chartsRow {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .add-event-button {
    width: 20%;
    font-size: 10px;
    margin: 10px 0;
  }

  .select-event-button{
    font-size: 10px;
    width: 100%;
  }

   
.dashboard-table {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.table-header {
  display: flex;
  background-color: #f0f0f0;
  font-size: 8px;
  box-shadow: 0.5px 1px 3px 0.1px grey;
  padding: 5px;
  
}

.table-row {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
 border-top: 0px;
 font-size: 8px;
 border-bottom: 1px solid rgb(155, 154, 154);
 border-left: 1px solid rgb(155, 154, 154);
 border-right: 1px solid rgb(155, 154, 154);
 border-radius: 5px;
  
  
}

.table-cell {
  font-size: 8px;
  font-weight: 600;
  flex: 1;
  text-align: center;
  margin: 0 18px;
}

.table-value {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  margin: 0 15px;
}

.table-value p {
  font-size: 12px;

}

.value-main {
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 2px;
}

.value-sub {
  font-size: 8px;
  color: #666;
  text-align: center;
}

.value-main p {
  margin: 0 10px 0 0;
}

.value-sub p {
  margin: 0;
}
  .table-cell {
    font-size: 10px;
  }

  .table-value {
    margin: 8px 0;
  }

  .chartsRow {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .dashboard-actions {
    flex-direction: column;
  }

  .dashboard-title {
    font-size: 20px;
  }

  .dashboard-subtitle {
    font-size: 12px;
  }

   
.dashboard-table {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.table-header {
  display: flex;
  background-color: #f0f0f0;
  font-size: 8px;
  box-shadow: 0.5px 1px 3px 0.1px grey;
  padding: 5px;
  
}

.table-row {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
 border-top: 0px;
 font-size: 8px;
 border-bottom: 1px solid rgb(155, 154, 154);
 border-left: 1px solid rgb(155, 154, 154);
 border-right: 1px solid rgb(155, 154, 154);
 border-radius: 5px;
  
  
}

.table-cell {
  font-size: 8px;
  font-weight: 600;
  flex: 1;
  text-align: center;
  margin: 0 18px;
}

.table-value {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  margin: 0 15px;
}

.table-value p {
  font-size: 12px;

}

.value-main {
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 2px;
}

.value-sub {
  font-size: 8px;
  color: #666;
  text-align: center;
}

.value-main p {
  margin: 0 10px 0 0;
}

.value-sub p {
  margin: 0;
}

  .add-event-button, .select-event-button {
    padding: 8px;
    font-size: 14px;
  }
}

.DashbordNoBox {
    padding: 10px;
    text-align: center;   
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: #307070 solid 4px;
    
}
.DashbordNoBox h2{
    font-size:14px;
    font-weight:600;
}
    .DashbordNoBox p{
        margin:0px;
    }
    .DashbordNoBox .number {
        font-size: 18px;
        font-weight: 600;
    }

.icon-shadow {
    color: #007272;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    padding:10px;
    border-radius: 50%;
    border: #007272 solid 1px;
    height:30px;
    width:30px;

}

.SelectEventBtn {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;   
    background: #007272;   
    height: 37px;
}

    .SelectEventBtn:hover {
        color: #ffffff;
    }