.chartCard {
    width: 350px; /* Adjust the width as needed */
    height: 450px; /* Adjust the height as needed */
    background-color: white; /* Card background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
    border-radius: 8px; /* Card border radius */
    display: flex;
    flex-direction: column; /* To align items vertically */
    align-items: center; /* Center align the contents */
    padding: 20px; /* Padding inside the card */
}
h3{
  justify-content: center;
text-align: center;
color: rgb(66, 66, 66);
}

.chart-container {

    width: 100%;
    height: 100%;
    flex: 1;
}
