.chartCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative; /* Allows for absolute positioning of detail section */
}

.chartBox {
    margin-bottom: 5px;
    width: 100%;
    height: auto; /* Adjusts height to fit content */
    max-height: 230px; /* Sets a max height for the chart box */
    display: flex;
    justify-content: center;
    align-items: center;
}



.chartInfo.visible {
    opacity: 1;
    visibility: visible;
}
.chartInfo {
    width: 100%;
    margin-bottom: 70px;
    max-height: 22%; 
    overflow-y: auto; 
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    position: absolute;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
}

.chartInfo.visible {
    opacity: 1;
    visibility: visible;
}

.chartInfo .info-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.chartInfo .info-list {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px; /* Adds spacing between items */
}

.chartInfo .info-list li {
    display: flex;
    align-items: center;
    width: calc(80% - 20px);
    box-sizing: border-box;
}

.chartInfo .info-list .color-indicator {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: currentColor;
}

.chartMenu {
    
    margin-bottom: 20px;
    font-size: 10px;
    color: #333;
}

.legend-container {
    margin-bottom: 5px;
    color: #333;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
  
    justify-content: space-between; /* Distributes space evenly between items */
    text-align: left;
}

.legend-item {
    
    margin: 3px;
    color: #333;
    display: flex;
    align-items: center;
    text-align: left;
 
    font-size: 12px;
    flex-basis: calc(50% - 20px); /* Takes up half the width minus margins */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.legend-color {
    color: #333;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border-radius: 50%;
}
