
  
 
  
  .card p {
    
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
  }
  
  .card span {
    
    font-size: 18px;
    font-weight: 600;
    color: #000000;
  }
  
  .legend-container {
    
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .recharts-default-legend {
    
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    width: 170%;
  }
  
  .recharts-legend-item {
    
    margin: 0 10px;
  }
  