/* DuringPlanning.css */
.during-planning {
  display: flex;
}

.main-content {
 
}

/* Hide scrollbar for all browsers */
.main-content {
  /*overflow: auto;
  -ms-overflow-style: none;*/  /* IE and Edge */
  /*scrollbar-width: none;*/  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.main-content::-webkit-scrollbar {
  display: none;
}
