.material-consumption {
    
  }

    .material-consumption h2 {
        color: #000000;
        font-weight: 600;
        font-size: 17px;
    }
  
  .consumption-table {
    
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .consumption-table th, .consumption-table td {
    
   border-collapse: collapse;
    padding: 10px;
    text-align: left;
  }
  
  .consumption-table th {
    box-shadow: 0px 4px 4px 0px #00000040, 2px 4px 0px 0px #000000bd;
    background-color: #006666;
    color: white;
  }
  
  .consumption-table td input {
    width: 60%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .gray-background {
    background-color: #f2f2f2;
  }
  
  .weight-cell {
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap:10px;
    border:none!important;
  }
  
  .weight-input {
    width: calc(100% - 60px);
    margin-right: 5px;
  }
  
  .unit-dropdown {
    width: 40px;
    height: 29px;
  }
  
  .upload-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .upload-button {
    width: 150px;
    padding: 6px;
    height: 35px;
    border-radius: 5px;
    background-color: #006666;
    border: 1px solid #999;
    color: white;

    cursor: pointer;
    font-size: 12px;
  }
  
  .upload-button:hover {
    background-color: #bbb;
  }
  

  

  