/* OrganizerData.css */
.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1140px; 
    width: 100%;
    position: fixed; 
    top: -50px;
    left: 55px; 
    z-index: 1000;
    overflow: hidden; 
    height: auto;
}

form {
    border: none;
    box-shadow: none;
}
input[type="text"]:focus, input[type="text"]:hover {
    outline: none;
    box-shadow: none; 
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px; 
}

.form-group {
    flex: 1;
    margin-right: 20px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"], select {
    width: 100%;
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    font-size: 12px; 
    box-sizing: border-box; 
}

.submit-button {
    background-color: #00695c; 
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.submit-button:hover {
    background-color: #004d40;
}

.event-name-container {
   margin-top: -50px;
}

.selected-meeting-name  {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.meeting-list {
    max-height: 200px; 
    overflow-y: auto;  
    position: relative;
  }
  
  .meeting-list::-webkit-scrollbar {
    width: 8px; 
  }
  
  .meeting-list::-webkit-scrollbar-track {
    background: transparent;
    border: none; 
  }
  
  .meeting-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
  }

.meeting-list .table-container {
    display: block; 
    overflow-y: auto; 
    max-height: 160px; 
  }
  
  .meeting-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    margin-top: 20px; 
  }
  
  .meeting-list th,
  .meeting-list td {
    padding: 8px 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
  }
  
  .meeting-list td:last-child {
    text-align: right;
  }
  
  .meeting-list th {
    background-color: #00695c;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    position: sticky;
    top: 0; 
    z-index: 2; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .meeting-list tr:hover {
    background-color: #e0f2f1;
    cursor: pointer;
  }
  
  .meeting-list tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  .meeting-list .go-button {
    background-color: #00695c;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .meeting-list .go-button:hover {
    background-color: #004d40;
  }