.organizer {
    display: flex;
    width: 100%;
}
.i-main-content {
    flex: 1;
    padding: 20px;
 
}

/* Hide scrollbar for all browsers */
.i-main-content {
    
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

    /* Hide scrollbar for Chrome, Safari, and Opera */
    .i-main-content::-webkit-scrollbar {
        display: none;
    }
