.PrePlanning-form {
  padding: 20px;
  margin: 20px auto;
  width: 50%;
  font-family: "Barlow condensed", sans-serif;
  font-style: normal;
}

.pform-container h2 {
  color: #363636;
}

.pform-group {
  font-size: 17px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 80%;
  gap: 30px;
}

.pform-group label {
  flex: 1;
  min-width: 280px;
}

.pform-group input {
  flex: 2;
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(7, 7, 7, 0.4);
  outline: none;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
  font-size: 10px;
}

.pform-group select {
    flex: 1;
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px;
    font-size: large;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.4);
    outline: none;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
    font-size: 10px;
}

.pform-group input::placeholder {
  margin-left: 15px;
  color: #838282;
}

.pform-group input:focus {
  animation: input-focus-animation 0.5s ease;
}

.psave {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #007272;
  border: 1px solid;
  text-align: center;
  margin: 0px;
  width: 80px;
  height: 28px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040, 2px 4px 0px 0px #000000bd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.psave:hover {
  background-color: #bbb;
}

button:hover {
  background-color: #005353;
}

button:last-child {
  /* margin-right: 0; */
}

@keyframes input-focus-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.access-restricted {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding: 20px;
  text-align: center;
  border: 2px solid #007b5e;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 20px auto;
  width: fit-content;
}
.fa-info-circle{
  font-size: 15px;
  color: #5a5a5a;
  cursor: pointer;
}
.tooltip-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
}

.tooltip-icon .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-icon .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-icon:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
