@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@300;500&display=swap");

p {
  font-size: 16px;
  margin: 10px 0;
}

h4 {
  font-size: 17px;
  font-weight: 600;
}

.summary-section {
  margin-top: 20px;
}

.summary-section h3 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #444;
}

.summary-table {
  width: 100%;

  margin-bottom: 20px;
  font-size: 13px;
}

.summary-table th,
.summary-table td {
  font-size: 14px;
  padding: 5px 5px;
  border: 1px solid #dee2e6;
}

.summary-table th {
  background-color: #ebecee;
  color: #000000;
}

.summary-table .form-control {
  width: 100px;
}

.accommodation-details,
.meal-details {
  border: #dee2e6 solid 1px;
  padding: 10px;
  margin-bottom: 10px;
}
.btngroup {
  margin: 0;
}

.summary-button {
  padding: 10px 20px;
  color: #fff;
  background-color: #066666;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  /* display: flex; */
}

.summary-button:hover {
  background-color: #054949;
}

.input-group {
  margin-bottom: 10px;
}
.input-group .form-control {
  width: 80px;
}
.input-group-text {
  border: none;
  background: none;
  padding: 0px;
  padding-right: 10px;
  width: 230px;
  margin-bottom: 10px;
}

.toast-notification {
  position: fixed;
  bottom: 20px; /* Adjust this to move it up or down */
  left: 50%;
  transform: translateX(-50%);
  background-color: #323232;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
  opacity: 0.9;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
